html,
body {
    height: 100%;
}

.navbar .navbar-brand {
    color: white;
    padding: 10px;
}

.container-fluid {
    min-height: 100%;
    height: auto !important;
    /* cross-browser */
    height: 100%;
    /* cross-browser */
}

.main-io {
    min-height: 100%;
    height: auto !important;
    /* cross-browser */
    height: 100%;
    /* cross-browser */
}

/* Footer */
footer {
    overflow: hidden;
    padding: 20px 10px;
    margin-top: 25px;
    color: white;
}